[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/raghunathgvc
[access "refs/for/refs/*"]
	read = group user/raghunathgvc
	push = group user/raghunathgvc
	label-Code-Review = -2..+2 group user/raghunathgvc
	label-Verified = -1..+1 group user/raghunathgvc
	rebase = group user/raghunathgvc
	removeReviewer = group user/raghunathgvc
	submit = group user/raghunathgvc
[access "refs/heads/*"]
	read = group user/raghunathgvc
	create = group user/raghunathgvc
	push = +force group user/raghunathgvc
	pushMerge = group user/raghunathgvc
[access "refs/tags/*"]
	push = +force group user/raghunathgvc
	pushTag = group user/raghunathgvc
	pushSignedTag = group user/raghunathgvc
